{erl_opts, [{parse_transform, lager_transform}, debug_info, {src_dirs, ["src"]}]}.

{deps, [
    {exmpp, ".*", {git, "git://github.com/virtan/exmpp.git", "rebar"}},
    {lager, ".*", {git, "git://github.com/basho/lager.git", "1.2.1"}},
    {syslog, ".*", {git, "git://github.com/nivertech/erlang-syslog", "ori_070812"}},
    {uuid, ".*", {git, "git://github.com/avtobiff/erlang-uuid.git", "v0.3.3"}},
    {folsom, ".*", {git, "git://github.com/boundary/folsom.git", {tag, "0.7.4"}}},

    % only for test, don't include them in reltool
    {meck, ".*", {git, "git://github.com/eproxus/meck.git", "0.8.2"}},

    %% documentation
    {edown, ".*", {git, "https://github.com/uwiger/edown", master}}

    %% coveralls
    {coveralls, ".*", {git, "git://github.com/markusn/coveralls-erl.git", master}}
]}.

{cover_enabled, true}.
{cover_print_enable, true}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{plugin_dir             , "deps/coveralls/src"}.
{cover_enabled          , true}.
{cover_print_enabled    , true}.
{cover_export_enabled   , true}.
{coveralls_coverdata    , ".eunit/eunit.coverdata"}.
{coveralls_service_name , "travis-ci"}.

{edoc_opts,[
        {doclet, edown_doclet},
        {edown_target, github},
        {top_level_readme, {"./README.md", "http://github.com/altenwald/ecomponent"}}
]}.
