{erl_opts, [{parse_transform, lager_transform}, debug_info]}.

{deps, [
    {exmpp, ".*", {git, "git://github.com/Zert/exmpp.git", "rebar"}},
    {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
    {syslog, ".*", {git, "git://github.com/nivertech/erlang-syslog", "ori_070812"}},
    {confetti, ".*", {git, "git://github.com/jtendo/confetti.git", "master"}}
]}.

{cover_enabled, true}.
