{erl_opts, [{parse_transform, lager_transform}, debug_info]}.

{deps, [
    {'exmpp', ".*", {git, "git://github.com/Zert/exmpp.git", "rebar"}},
    {'lager', ".*", {git, "git://github.com/basho/lager.git", "master"}},
    {'syslog', ".*", {git, "git://github.com/nivertech/erlang-syslog", "ori_070812"}},
    {'folsom', ".*", {git, "git://github.com/boundary/folsom.git", "master"}},
    {'folsom_cowboy', ".*", {git, "git://github.com/pepeyuilop/folsom_cowboy.git", "master"}}
]}.

{cover_enabled, true}.
