
%% Platform-specific installation paths
{platform_bin_dir, "./bin"}.
{platform_data_dir, "./data"}.
{platform_etc_dir, "./etc"}.
{platform_lib_dir, "./lib"}.
{platform_log_dir, "./log"}.

%%
%% etc/app.config
%%
{jid_var,						 "jid.localhost"}.
{xmpp_server_host,		"localhost"}.
{xmpp_server_port,		8888}.
{xmpp_server_pass,		"secret"}.
{whitelist_server,		[{"localhost", "127.0.0.1"}]}.
{max_per_period_var,	10}.
{period_seconds_var,	6}.
{handler_var,					"iq_handler"}.
{processors_var,			[{namespace, ns_processor}, {namespace:dos, dos_processor}]}. %% namespace as atom
